<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>IOT Assistant</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all" href="../../static/css/style.css" th:href="@{/css/style.css}" />
    </head>

    <body>
        <h1>Admin panel</h1>
        <object data="/images/logo.svg" width="100"></object>
        <p><a href="/config">Configuration</a> </p>
        <p><a href="/switch">Switches</a> </p>
    </body>
</html>