<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IOT Assistant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>

<body>
    <header>
        <div class="navbar">
            <img th:src="@{/images/logo-light.svg}" src="../../static/images/logo-light.svg" width="150" height="150" alt="IOT Assistant"/>
            <h1>Admin panel</h1>
        </div>

    </header>
    <main>
        <section class="menu">
            <a class="button" th:href="@{/admin/config}">Configuration</a>
            <a class="button" th:href="@{/admin/switch}">Switches</a>
            <a class="button" th:href="@{/logout}">Logout</a>
        </section>
    </main>


</body>

</html>