<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IOT Assistant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>

<body>
    <header>
        <div class="navbar">
            <object data="../../static/images/logo-light.svg" width="100"></object>
            <h1>Admin panel</h1>
        </div>

    </header>
    <main>
        <section class="menu">
            <a href="/config"></a><button>Configuration</button></a>
            <a href="/switch"></a><button>Switches</button></a>
        </section>
    </main>


</body>

</html>