<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IOT Assistant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>

<body>
    <header>
        <div class="navbar">
            <img th:src="@{/images/logo-light.svg}" src="../../static/images/logo-light.svg" width="150" height="150" alt="IOT Assistant"/>
            <h1>Admin panel</h1>
        </div>

    </header>
    <main>
        <div th:switch="${switches}">
            <h2 th:case="null">No switches yet!</h2>
            <div th:case="*">
                <h2>Users</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>IP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="switch : ${switches}">
                            <td th:text="${switch.id}"></td>
                            <td th:text="${switch.name}"></td>
                            <td th:text="${switch.location}"></td>
                            <td th:text="${switch.localIP}"></td>
                            <td><a class="button button-small"
                                    th:href="@{/admin/deleteSwitch/{id}(id=${switch.id})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/admin/addSwitch" class="button button-small">Add a new switch</a></p>
        </div>

        <a class="button" th:href="@{/admin/panel}">Back</a>
    </main>



</body>

</html>