<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IOT Assistant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>

<body>
    <header>
        <div class="navbar">
            <img th:src="@{/images/logo-light.svg}" src="../../static/images/logo-light.svg" width="150" height="150" alt="IOT Assistant"/>
            <h1>Add switch</h1>
        </div>

    </header>
    <main>
        <form action="#" th:action="@{/admin/addSwitch}" th:object="${switch}" method="post">
            <label for="id">ID</label>
            <input type="text" th:field="*{id}" id="id" placeholder="ID">
            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
    
                <label for="name">Name:</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    
                <label for="location">Location:</label>
                <input type="text" th:field="*{location}" id="location" placeholder="Location">
                <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span>
    
                <label for="localIP">LocalIP:</label>
                <input type="text" th:field="*{localIP}" id="localIP" placeholder="LocalIP">
                <span th:if="${#fields.hasErrors('localIP')}" th:errors="*{localIP}"></span>
                <input type="submit" class="button" value="Add switch">
            </form>
            <a class="button" th:href="@{/admin/switch}">Back</a>
        </main>

    </body>
</html>